<p>je suis bien dans qrcode ca race</p>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
<qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
