<div class="problemContainer">
  <div class="problemForm">
      <h2>Soumission de problème</h2>
      <h3 class="success">{{response}}</h3>
      <form [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="machine">
        <p>
          <mat-form-field class="inputFW">
            <input matInput formControlName="User" placeholder="Adresse email">
            <mat-error>L'adresse email est requise et doit être une adresse de Vinci</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="inputFW">
            <input matInput value="{{machineName}}" placeholder="Nom de la machine" disabled>
            <mat-error>Le nom de la machine est requis</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="inputFW">
            <textarea matInput placeholder="Description du problème (max 200 caractères)" formControlName="Description" rows="3"></textarea>
            <mat-error>La description est requise</mat-error>
          </mat-form-field>
        </p>
        <p>
          <label>Image (Optionnel)</label><br><br>
          <input type="file" (change)="fileChange($event)" name="image" accept=".png, .jpg, .jpeg, .gif, .svg"/>
        </p>
        <button mat-raised-button color="primary">Envoyer</button>
      </form>
  </div>
</div>