h2 {
  color: #686B79;
}

.problemContainer {
  margin-top: 50px;
}

.problemForm {
  margin: 0 auto;
  max-width: 500px;
}

.problemForm form {
  width: 100%;
}

.problemForm .inputFW {
  width: 100%;
}

label {
  color: rgba(0, 0, 0, 0.54);
}