<div class="mask">
        <div class="listcard" #content id="results">
        <div class="row">
                <div class="column" *ngFor='let x of qrcodelist; index as i'>

                        <div *ngIf="i%9==0 && i!=0 || i%9==1 && i!=1 || i%9==2 && i!=2 ; else elseBlock">
                                <div class="html2pdf__page-break"></div>
                                <div class="empty"></div>
                                <app-qrcode [name]='x'></app-qrcode>        
                        </div>
                        <ng-template #elseBlock>
                                <div *ngIf="i==0 || i==1 || i==2; else elseBlock2">
                                                <div class="empty"></div>
                                                <app-qrcode [name]='x'></app-qrcode>        
                                </div>
                                <ng-template #elseBlock2>
                                        <app-qrcode [name]='x'></app-qrcode>
                                </ng-template>
                        </ng-template>
                </div>
        </div>
        </div>
</div>
