<div>
    <h2>PC list</h2>
   <mat-table #table [dataSource]='dataSource' >
        
        <ng-container matColumnDef="Select">
            <!-- TODO : reduce width -->
            <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null; notifyService()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row.Name) : null ; notifyService()"
                                [checked]="selection.isSelected(row.Name)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let pc"> {{pc.Name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Local">
            <mat-header-cell *matHeaderCellDef> Local </mat-header-cell>
            <mat-cell *matCellDef="let pc"> {{pc.Local}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="IP">
            <mat-header-cell *matHeaderCellDef> IP </mat-header-cell>
            <mat-cell *matCellDef="let pc"> {{pc.IP}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="MAC">
            <mat-header-cell *matHeaderCellDef> MAC </mat-header-cell>
            <mat-cell *matCellDef="let pc"> {{pc.MAC}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Comment">
            <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
            <mat-cell *matCellDef="let pc"> {{pc.Comment}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
    </mat-table>
    <mat-paginator 
        #paginator
        [length]="dataSource.data().length"
        [pageSize]="10"
        (page)="pageEvent = $event">
    </mat-paginator>
</div>
